// === barvy ===
$main-color: lightblue;
$border-color: lightblue;
$secondary-color: white;
$ternary-color: black;
$text-color: black;

// === fonty ===
$contactFontSize: 25px;

// === display ===
$displayBlock: block;

// === velikost foto ===
$imgHeight: 325px !important;
$imgWidth: 300px !important;

// === navbar ===
$navbarMargin: 50px 80px 10px 80px;

// === border-top-radius ===
$borderTopLeftRadius: 0px !important;
$borderTopRightRadius: 0px !important;